<section>

  <div class="row col-md-4">
    <select ng-model="selectedHub">
      <option value="">Select Category</option>
      <option ng-repeat="cat in dc.category track by $index" value="{{cat}}">{{cat}}</option>
    </select>
  </div>

  <div class="col-md-4">
    <select ng-model="selectedHub">
      <option value="">Select User</option>
      <option ng-repeat="cat in dc.category track by $index" value="{{cat}}">{{cat}}</option>
    </select>
  </div>

  <div class="row col-md-12" style="margin-top: 20px;">
    <div class="form-group">
      <label for="comment">Debate Topic</label>
      <textarea ng-model="dc.debateTopic" class="form-control" rows="5" id="debate-topic"></textarea>
    </div>
    <button type="button" class="from-group btn btn-primary">Submit</button>
  </div>

</section>
